{% extends "main_pages/template.html" %}

{% block navigation %}{% endblock %}

{% block content %}
<h1>{% block title %} Add a New Post {% endblock %}</h1>
<form method="POST">
    <div>
    <label for="title">Title</label>
    <br>
    <input type="text" name="title" placeholder="Post title">
    <br>
    </div>
    <label for="content">Post Content</label>
    <br>
    <div>
    <textarea name="content" placeholder="Post content" rows="15" cols="60"></textarea>
    <br>
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block footer %}{% endblock %}