{% extends "main_pages/template.html" %}

{% block navigation %}{% endblock %}

{% block content %}
<div class="flex-container-forms">
<h1>Add a New Post</h1>
<form method="POST">
    <div>
    <label for="title">Title</label>
    <br>
    <input type="text" name="title" placeholder="Post title">
    <br>
    </div>
    <label for="content">Post Content</label>
    <br>
    <div>
    <textarea name="content" type="text" placeholder="Post content" rows="15" cols="60"></textarea>
    <br>
    </div>
    <button type="submit" class="center button-two">Submit</button>
</form>
</div>
{% endblock %}

{% block footer %}{% endblock %}