{% extends "main_pages/template.html" %}

{% block navigation %}{% endblock %}

{% block content %}
<div class="container-flex">
<h1>{% block title %} Posts {% endblock %}</h1>
    {% for post in posts %}
        <div class='post'>
            <!-- Don't want to show date and time for now. Maybe later-->
            <!-- <p>{{ post['created'] }}</p>-->
            <div class="h2post">{{ post['title'] }}</div>
            <p>{{ post['content'] }}</p>
            <button type="button" class="button-two" onclick="window.location.href='{{ url_for('module_blog_post.get_edit', id=post['id']) }}'" >Edit</button>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}{% endblock %}

