@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html, body{
    height: 100%;
    margin: 0;
    padding-top: 30px ;
    font-family: Montserrat;
}
.section{
    padding-bottom: 75px;}
  
h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 60px;
  } 
.flex-container-home-top{
    padding-top: 75px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(/static/img/Museum-BG.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:bottom;
}
.flex-comment-page-top{
  height:50%;
  background-image: none;
}
.flex-item-top-artshow{

}
.flex-item-top{
        padding: 0px;
        flex: 100%;
        justify-content: center;
        align-items: center;
      }

.flex-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
    justify-content: center;
    background: rgba(227, 222, 216, 0.15);
    box-shadow: 0px 7px 24px 3px rgba(0, 0, 0, 0.25);
    }
.flex-container-footer  {
      flex: 1;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      bottom: 0;
      width: 100%;
      background-color: #E3DED8;
      margin-top: 75px;
    }
.flex-container-footer .flex-item  {
    padding-bottom: 0px;
    padding-top: 0px;
    }
.footer-row {
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
  }

.flex-item {
    flex: 0 0 92px;    
    padding:30px 50px 30px 30px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.button {
font-family: Montserrat;
font-size: 14px;
width: 170px;
height: 64px;
border-radius: 10px;
background-color: white;
border: 2px solid #000000;
transition-duration: 0.4s;
}
.button-two{
font-family: Montserrat;
font-size: 14px;
width: 275px;
height: 66px;
background-color: white;
border-radius: 10px;
border: 2px solid #000000;
transition-duration: 0.4s;
}

.button:hover, .button-two:hover {
  background-color: black;
  color: white;
  border: white
}
.qr-code{
  border:5px solid black;
  width: 300px;
  height: 300px;
  left: 569px;
  top: 445px;

  box-shadow: 2px 5px 7px 2px rgba(0, 0, 0, 0.4);
}
.sectionflex{
  width: 100%;
  display:flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.sectionflex p{
  font-size: 24px;
}
.copywright {
  padding-top: 0px;
  padding-bottom:0px;
  margin-bottom: 0px;
}
.copywright p {
  font-size: 16px;
  color:black;
}
.rectangle-one  {
  margin-left: auto;
  height: 125px;
  line-height: 125px;
  width: 80%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #EC6F72;
  box-shadow: 0px 7px 24px 3px rgba(0, 0, 0, 0.25);
}
.rectangle-animation-one {
  animation-duration: 1s;
  animation-name: slidein-one;
  animation-iteration-count: 1;
  animation-direction:normal;
}
@keyframes slidein-one {
  from {
    margin-left:100%;
    width:300%
  }

  to {
    margin-left:20%;
  }
}
.rectangle-two  {
  margin-top: 0px;
  margin-left: auto;
  height: 125px;
  line-height: 125px;
  width: 55%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #FFB94D;
  box-shadow: 0px 7px 24px 3px rgba(0, 0, 0, 0.25);
}
.rectangle-animation-two {
    animation-duration: 1s;
    animation-name: slidein-two;
    animation-iteration-count: 1;
    animation-direction:normal;
  }
  @keyframes slidein-two {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
      margin-left:45%;
    }
  }
  
.rectangle-three  {
  margin-top: 0px;
  margin-left: auto;
  height: 125px;
  line-height: 125px;
  width: 40%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #3C51AA;
  box-shadow: 0px 7px 24px 3px rgba(0, 0, 0, 0.25);
}
.rectangle-animation-three {
    animation-duration: 1s;
    animation-name: slidein-three;
    animation-iteration-count: 1;
    animation-direction:normal;
  }
  @keyframes slidein-three {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
      margin-left:60%;
    }
  }
.imgpreview {

    width: 300px;
    height: 150px;
}
body {
    background-color: rgb(255, 255, 255);
  }
.flex-container-nav  {
    position: fixed;
    height: 123px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8F8F8;
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
  }
  
  .logo {
    margin: 0 0 0 .45em;
  }
      .logo a {
        color: rgb(28, 24, 22);
      }
  
      .logo, .navigation {
          list-style: none;
          padding-right: 40px;
      }
  
      .logo a, .navigation a {
          text-decoration: none;
          letter-spacing: .45rem;
      }
  
  .navigation  {
    display: flex;
  }
  
  .navigation a {
    display: block;
    padding: 1em;
    color: rgb(241, 14, 14);
  }
  
  .navigation a:hover {
      background: #00ace6;
  }
  
  /* *********** media queries *********** */
  @media all and (max-width: 990px) {
    .flex-container {
      flex-direction: column;
    }
    
    .logo {
    margin: 0;
  }
    
    .navigation  {
      width: 100%;
      justify-content: space-around;
    }
  }
  
  
  /* ****** ****** */
  @media all and (max-width: 600px) {
   
    .logo {
      margin: .25em 0;
      align-self: left; /* align the logo to the left side of 'flex-container' */
  }
    
    .navigation {
      flex-direction: column;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }
/* animate*/
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}