{% extends "main_pages/template.html" %}

{% block navigation %}{% endblock %}

{% block content %}
<div class="flex-simple-pages">
    <div class='post'>
    <h1>Contact</h1>
    <div>
        <div class="h2post">Angaben gemäß § 5 TMG</div>
        <p>Eugene O'Donald</p>
        <p>Roseggerstr. 12</p>
        <p>12043 Berlin</p>
    </div>
    <div>
        <div class="h2post">Kontakt</div>
        <p>Tel: 0176-99993996</p>
        <p>Mail: eugene.odonald@code.berlin</p>
        <p>Roseggerstr. 12</p>
        <p>12043 Berlin</p>
    </div>
</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}